<ng-container>
  <form class="form-register" id=updatePokemon #pokemonsForm="ngForm" (ngSubmit)="updatePokemons(pokemonsForm.value)">
    <p>Actualizar Pokemon</p>
    <div *ngIf="message" > {{ message }}</div>
    <div class="flex-container">
      <div class="flex-child first" >
        <table>
          <tr>
            <td align="right" class="flex-container2">
              <label class="flex-child2 first" for="name">Nombre: &nbsp; </label>
              <input class="flex-child2 second" type="text" name="name" id="name" placeholder="Nombre" value="{{ data.name }}" ngModel required>
            </td>
          </tr>
          <tr>
            <td align="right" class="flex-container2">
              <label class="flex-child2 first" for="image">Imagen: &nbsp; </label>
              <input class="flex-child2 second" type="text" name="image" id="image" placeholder="url" value="{{ data.image }}" ngModel required>
            </td>
          </tr>
        </table>
      </div>
      <div class="flex-child second">
        <table style="margin-top: 30px;margin-left:auto;">
          <tr>
            <td align="right">
              <label for="attack">Ataque: &nbsp; 0
               <input style="width: 100px;" id="attack" type="number" min="1" max="100" name="attack" value="{{ data.attack }}" ngModel required> 100
              </label>
            </td>
          </tr>
          <br>
          <tr>
            <td align="right">
              <label for="defense">Defensa: &nbsp; 0
                <input style="width: 100px;" id="defense" type="number" min="1" max="100" name="defense" value="{{ data.defense }}" ngModel required> 100</label>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="padre">
      <button class="botons" type="submit"><i class="fa fa-save"></i> Guardar</button>
      <button class="botons" type="button"  [routerLink]="['']"><i class="fa fa-close"></i> Cancelar </button>
    </div>
  </form>
</ng-container>
